# Đồ án cuối kỳ môn Khoa Học Dữ Liệu

---

## Import các thư viện cần thiết

In [1]:
import pandas as pd

---

## Thu thập dữ liệu

Đồ án cuối kỳ lần này, trong quá trình tìm dataset, tụi em đã tìm thấy một bộ dữ liệu thú vị về phim của hai hãng phim lớn nhất của thế giới hiện tại là Marvel và DC. Đây là dữ liệu về điểm đánh giá IMDb của các bộ phim, từ bộ dữ liệu này tụi em muốn khám phá, so sánh một số thông tin giữ hai hãng phim đình đám này. Dữ liệu sử dụng tụi em đã lấy ở [đây](https://www.kaggle.com/hetulmehta/marvel-vs-dc-imdb-dataset).

---

## Khám phá dữ liệu

### Xem cấu trúc của dữ liệu

In [2]:
movie_df = pd.read_csv('Marvel_DC_imdb.csv')
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1690 non-null   int64
 1   Movie        1690 non-null   object
 2   Year         1657 non-null   object
 3   Genre        1683 non-null   object
 4   RunTime      1407 non-null   object
 5   Rating       1463 non-null   object
 6   Director     1474 non-null   object
 7   Actor        1660 non-null   object
 8   Description  1690 non-null   object
 9   IMDB_Score   1486 non-null   float64
 10  Metascore    65 non-null     float64
 11  Votes        1486 non-null   object
 12  USA_Gross    64 non-null     object
 13  Category     1690 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 185.0+ KB

In [3]:
movie_df.shape

(1690, 14)

- Dữ liệu thô có 1690 dòng, và 14 cột.
- Mỗi dòng chứa thông tin của một bộ phim và số điểm đánh giá của bộ phim đó, không có dòng nào lạc loài.
- Có một số các bộ phim không có điểm đánh giá, tỉ lệ là bao nhiêu ta sẽ xem ở các phần tiếp theo.
- Nhiều cột không mang ý nghĩa sẽ xoá bỏ trong phần tiền xử lý

### Có dòng nào bị trùng không? Có phim nào được đánh giá hơn một lần không?

In [4]:
duplicate_row = movie_df[movie_df.duplicated(subset=['Movie','Year', 'Category', 'Director'], keep=False)]
duplicate_row.head(3)

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
107,107,Mutant X,(2001–2004),"Action,Adventure,Drama",42 min,TV-PG,BradTurner,"JohnShea,VictoriaPratt,LaurenLeeSmith,ForbesMarch",Mutant X encounters a new faction of New Mutan...,7.1,NaN,32,NaN,Marvel
109,109,Mutant X,(2001–2004),"Action,Adventure,Drama",43 min,TV-PG,BillCorcoran,"VictoriaPratt,VictorWebster,ForbesMarch,KarenC...",Mutant X unearths an old military experiment i...,5.4,NaN,19,NaN,Marvel
110,110,Mutant X,(2001–2004),"Action,Adventure,Drama",42 min,TV-PG,AndrewPotter,"ForbesMarch,VictoriaPratt,LaurenLeeSmith,Victo...","A young New Mutant from Adam's past shows up, ...",6.8,NaN,30,NaN,Marvel

Có nhiều bộ phim cùng tên, năm, nhưng lại khác đạo diễn.

### Kiểu dữ liệu của các cột là gì?

In [5]:
movie_df.dtypes

Unnamed: 0       int64
Movie           object
Year            object
Genre           object
RunTime         object
Rating          object
Director        object
Actor           object
Description     object
IMDB_Score     float64
Metascore      float64
Votes           object
USA_Gross       object
Category        object
dtype: object

Ta thấy cột year kiểu object, ta cần xử lí cột này ở phần Tiền xử lý

### Xem tỉ lệ giá trị thiếu của các cột

In [6]:
imdb_score = movie_df['IMDB_Score']
imdb_score
movie_df.isna().mean()

Unnamed: 0     0.000000
Movie          0.000000
Year           0.019527
Genre          0.004142
RunTime        0.167456
Rating         0.134320
Director       0.127811
Actor          0.017751
Description    0.000000
IMDB_Score     0.120710
Metascore      0.961538
Votes          0.120710
USA_Gross      0.962130
Category       0.000000
dtype: float64

Cột tâm điểm của bộ dữ liệu này là cột IMDB_Score, cột này có tỉ lệ thiếu khá thấp, ta sẽ xoá những dòng thiếu dữ liệu ở cột này.
Đồng thời xoá các cột không mang ý nghĩa khác.

## Tiền xử lý

Từ các thông tin ở bước khám phá dữ liệu, ta cần có các bước tiền xử lý sau

### Bỏ các cột khôg mang ý nghĩa và các cột thiếu dữ liệu quá nhiều

In [7]:
movie_df = movie_df.drop(columns = ['Unnamed: 0', 'Rating', 'Description' , 'Metascore', 'USA_Gross'])

In [8]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie       1690 non-null   object
 1   Year        1657 non-null   object
 2   Genre       1683 non-null   object
 3   RunTime     1407 non-null   object
 4   Director    1474 non-null   object
 5   Actor       1660 non-null   object
 6   IMDB_Score  1486 non-null   float64
 7   Votes       1486 non-null   object
 8   Category    1690 non-null   object
dtypes: float64(1), object(8)
memory usage: 119.0+ KB

### Xoá các dòng không có IMDB_Score

In [11]:
movie_df = movie_df[movie_df['IMDB_Score'].notna()]
movie_df.info()
movie_df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1486 entries, 2 to 1689
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie       1486 non-null   object
 1   Year        1486 non-null   object
 2   Genre       1483 non-null   object
 3   RunTime     1396 non-null   object
 4   Director    1343 non-null   object
 5   Actor       1473 non-null   object
 6   IMDB_Score  1486 non-null   float64
 7   Votes       1486 non-null   object
 8   Category    1486 non-null   object
dtypes: float64(1), object(8)
memory usage: 116.1+ KB

(1486, 9)

## Phân tích để trả lời câu hỏi

### 1. Trung bình đánh giá của hãng phim nào cao hơn?

Hai hãng phim đình đám nhất của thế giới về các câu chuyện siêu anh hùng, liệu hãng phim nào sỡ hữu trung bình đánh giá cao hơn. Ta cùng xem điều đó thông qua dữ liệu.

In [25]:
group_average_rating = movie_df['IMDB_Score'].groupby(movie_df['Category'])
group_average_rating.mean()
group_average_rating.apply(pd.DataFrame)

       DC  Marvel
2     NaN     7.5
3     NaN     8.1
6     NaN     8.4
7     NaN     8.0
9     NaN     7.5
...   ...     ...
1685  8.5     NaN
1686  8.3     NaN
1687  8.1     NaN
1688  7.4     NaN
1689  7.5     NaN

[1486 rows x 2 columns]

Như vậy ta thấy rating của DC cao hơn so với Marvel

### 2. Các diễn viên và đạo diễn có làm việc cho cả hai hãng phim không?

Ngoài những con số ra, ta cùng xem các diễn viên và đạo diễn làm việc như thế nào trong mối quan hệ cạnh tranh của Marvel và DC

In [29]:
actors = movie_df['Actor'].groupby(movie_df['Category'])
actors.apply(pd.DataFrame)

,DC,Marvel
2,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK..."
3,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah..."
6,NaN,"RobertDowneyJr.,ChrisEvans,MarkRuffalo,ChrisHe..."
7,NaN,"ChrisPratt,VinDiesel,BradleyCooper,ZoeSaldana"
9,NaN,"TomHolland,SamuelL.Jackson,JakeGyllenhaal,Mari..."
...,...,...
1685,"BrandonRouth,CaityLotz,MaisieRichardson-Seller...",NaN
1686,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",NaN
1687,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",NaN
1688,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",NaN
1689,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",NaN